/* Car-sharing game CSS */

div#container {
    text-align: center;
}

table#table-decision {
    border-spacing: 40px;
    border-collapse: separate;
    margin-top: 20px;
    margin: 0 auto;
}

table#table-decision td {
    width: 350px;
    padding: 5px;
    text-align: center;
    vertical-align: top;
    padding: 20px;
    cursor: pointer;
    border: 5px solid #CCC;
}

table#table-decision td:hover {
    background: #FFE;
}

table#table-decision img {
    width: 200px;
    height: 200px;
}

div#car-departure-div {
    margin-top: 15px;
    font-size: 15px;
}

span#car-departure {
    font-weight: bold;
}

div.departure-text {
    margin-top: 5px;
    margin-bottom: 15px;
}

div#car-slider {
    margin-bottom: 15px;
    margin-left: 8px;
    width: 95%;
}

div#div-button {
    clear: both;
    margin-top: 10px;
    text-align: center;
    border: 10px;
}

td.td-selected {
    background: #FFC;
}

span.td-title {
    display: block;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}